In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from warnings import simplefilter

In [2]:
#To get rid of FutureWwarnings generated by Sklearn.
simplefilter(action='ignore', category=FutureWarning)

#  Load the data from the CSV file
iris_df = pd.read_excel('Week_06_HW6_Iris_Dataset.xlsx')
iris_df.head()

   sepalWidth  petalWidth sampleNum  irisSpecies
0         3.5         0.2      id_1  Iris-setosa
1         3.0         0.2      id_2  Iris-setosa
2         3.6         0.2      id_5  Iris-setosa
3         3.9         0.4      id_6  Iris-setosa
4         3.4         0.3      id_7  Iris-setosa

In [3]:
# Get some data about the file
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sepalWidth   100 non-null    float64
 1   petalWidth   100 non-null    float64
 2   sampleNum    100 non-null    object
 3   irisSpecies  100 non-null    object
dtypes: float64(2), object(2)
memory usage: 3.2+ KB

In [4]:
# Drop the Sample numbe ID from the frame
iris_df.drop(['sampleNum'], axis=1, inplace=True)
iris_df.head()

   sepalWidth  petalWidth  irisSpecies
0         3.5         0.2  Iris-setosa
1         3.0         0.2  Iris-setosa
2         3.6         0.2  Iris-setosa
3         3.9         0.4  Iris-setosa
4         3.4         0.3  Iris-setosa

In [5]:
# see if there is a correation
iris_df.corr()

            sepalWidth  petalWidth
sepalWidth     1.00000    -0.56012
petalWidth    -0.56012     1.00000

In [6]:
#Tried a different ways to different results
feature_columns = ['sepalWidth', 'petalWidth']
#feature_columns = ['sepalWidth']
#feature_columns = ['petalWidth']
X_ind =iris_df[feature_columns].values
Y_dep = iris_df['irisSpecies'].values

In [7]:
# Encode the target column with a numeric value corresponding to the species 
# of the iris. 
lab_enc = LabelEncoder()
Y_dep = lab_enc.fit_transform(Y_dep)

In [8]:
# Create the test and training sets.
X_train, X_test, Y_train, Y_test = train_test_split(X_ind, Y_dep
                                                    , test_size = 0.50
                                                    , random_state=42)

In [9]:
# Create the KNN model
# Instantiate learning model (k = 3 or 5)
knn_class = KNeighborsClassifier(n_neighbors=5)

In [10]:
# Fitting the model
knn_class.fit(X_train, Y_train)

# Predicting the Test set results
y_pred = knn_class.predict(X_test)

In [11]:
#Create a confusion matrix
con_matrix = confusion_matrix(Y_test, y_pred)
con_matrix

array([[30,  0],
       [ 0, 20]], dtype=int64)

In [12]:
# see the Accruarcy score of the model
print("\nAccuracy: ", knn_class.score(X_test, Y_test))
print("R Squared", knn_class.score(X_test, Y_test) *100)

Accuracy:  1.0
R Squared 100.0