# IS 362 Project #3

In this project we are asked to use the Chinook database.  In this database there is information about music, customers and album, track information and other data that is associated with a music service.  The data set was taken from the following:
[Chinook Database](https://github.com/lerocha/chinook-database/tree/master/ChinookDatabase/DataSources).  The orginal link in the assignment does not work.  The original link was (https://chinookdatabase.codeplex.com). I downloaded the link that was for the MySQL database script.  This file can be found in my repository [Link to database script](https://github.com/meheino77/IS362Project3/blob/master/Chinook_MySql.sql.txt).

## Requirements for the Project
The requirements for the project are the following:

1.  Download and install the appropriate version of the Chinook database.
2.  Create a pandas DataFrame that displays Customer's Last Name and First Name, and each customer's Track Names, and Album Titles.


### Creating the database

THe database was created using the script that was provided in the repository that was presented above.  This database was created in MySQL utilizing the MYSQL Workbench.  This scripe created eleven tables.  These tables were:

1. Album
2. Artist
3. Customer
4. Employee
5. Genre
6. Invoice
7. InvoiceLine
8. MediaType
9. PlayList
10. playlistTrack
11. Track

### Joining the tables 

In order to retrieve the information that we need to get the required frame we need to join five tables. These tables are Customer, Invoice, InvoiceLine, Track and Album.  Each one of these tables have keys that found in the other.  This will allow us to join or link these tables to eachother.  The SQL query that we used to create the join was accomplished by:

```sql
SELECT customer.LastName, customer.FirstName, track.Name , album.Title
FROM Customer
JOIN invoice ON customer.CustomerId = invoice.CustomerId
JOIN invoiceline ON invoice.InvoiceId = invoiceline.InvoiceId
JOIN track ON invoiceline.TrackId = track.TrackId
JOIN album ON track.AlbumId = album.AlbumId
ORDER BY customer.LastName;
```

This query was first tested in MySQL Workbench to make sure that query worked and it provided the right result set.

### Python code to query the data base

The next step was to create a python script that connected to the database and issue the previous SQL query to retrieve the information from the database.  The code that was implemented was the following:

```python
mport pandas as pd
from sqlalchemy import create_engine


pd.set_option('display.max_columns', None)


connection_string = "mysql+pymysql://root:slice457@localhost:3306/chinook"

db_query = 'SELECT customer.LastName, customer.FirstName, track.Name , album.Title FROM Customer JOIN invoice ON customer.CustomerId = invoice.CustomerId JOIN invoiceline ON invoice.InvoiceId = invoiceline.InvoiceId JOIN track ON invoiceline.TrackId = track.TrackId JOIN album ON track.AlbumId = album.AlbumId ORDER BY customer.LastName;'
db_connection = create_engine(connection_string)

print (db_connection)


music_frame = pd.read_sql_query(db_query, con=db_connection)

music_frame.rename(columns={"LastName": "Last Name", "FirstName":"First Name"}, inplace=True)

print(music_frame.head())

#Write dataframe to CSV.
music_frame.to_csv("jupyter.csv", index=False)

#Read csv to frame

input_music_frame = pd.read_csv("jupyter.csv")
print(input_music_frame.head(20))
```

The frame was created than output to a CSV that was called jupyter.csv.  The actual working script can be [here](https://github.com/meheino77/IS362Project3/blob/master/Project3.py)

In [3]:
import pandas as pd
from sqlalchemy import create_engine


pd.set_option('display.max_columns', None)

#Read csv to frame

input_music_frame = pd.read_csv("jupyter.csv")
print(input_music_frame.head())

  Last Name First Name                                               Name  \
0   Almeida    Roberto                            Right Next Door to Hell
1   Almeida    Roberto                                     In The Evening
2   Almeida    Roberto                                   Fool In The Rain
3   Almeida    Roberto  Saudade Dos Aviões Da Panair (Conversando No Bar)
4   Almeida    Roberto                             Caso Você Queira Saber

                     Title
0      Use Your Illusion I
1  In Through The Out Door
2  In Through The Out Door
3                    Minas
4                    Minas

## Conclusion

The dataframe does not match the one that was given in theassignment specification. THis is beacuse the insert functions do not contain the data that would yield it.  There were changes to the insert that change the values even though the query seems to be correct.  I checked this by looking at the inserts for a few of the albums listed and they do not have the right data for the given assignment output.  I am not sure if this intentional or I have downloaded the wrong dataset.